[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"

[packages]
pyserial = "*"
flask = "*"
flask-socketio = "*"
socketio-client = "*"

[requires]
python_version = "3.6.5"
